body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*background-image: linear-gradient(to right, #c2c5cc , white);: */
}

h1 {
text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

/*Reason you were not able to center nav > a because the links in them selfs are being centered */
/*but the actual element nav is still being aligned to the left because all of the a elements are */
/*contained in the nav element*/
nav {
  text-align: center;
}

nav a {
  background: #c2c5cc;
  padding: 10px;
}

#featured-property figure figcaption {
  text-align: center;
  font-size: 14.5px;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#details div {
  display: inline;;
}
